:root {
  --box-background: #303030;
  --code-background: #303030;
  --section-background: #212121;
}

.box {
  text-align: start;
  padding: 2em;
  background-color: var(--box-background);
  border-radius: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    --box-background: #e4e4e4;
    --code-background: #dbdbdb;
    --section-background: #f1f1f1;
  }
}

.flowContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 15rem;
}

.flowItemHeading {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 2rem;
}

textarea {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.codebox {
  background-color: var(--code-background);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: start;
  max-height: 200px;
  overflow-y: scroll;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  overflow-x: auto;
}

section {
  background-color: var(--section-background);
  margin-block: 5rem;
  padding: 2rem;
}

h2,
h3 {
  text-align: left;
}

@media screen and (min-width: 768px) {
  section {
    padding: 4rem;
    width: 600px;
  }
}
