.steps {
  margin-top: 2rem;
  display: flex;
  gap: 12px;
  justify-content: center;
  height: 10px;
}

.default {
  width: 100%;
  background-color: rgb(194, 194, 194);
  height: 10px;
  border-radius: 15px;
}

.active {
  width: 100%;
  background-color: blue;
  height: 10px;
  border-radius: 15px;
}

.actionButtons {
  display: flex;
  justify-content: space-between;
}
